<div class="col-lg-4 col-md-4 col-sm-4">
    <h2>Have a Question?</h2>
    <p>Get in touch by using the form to the right. I'd love to hear from you!</p>
</div>

<form action ="index.html" method="post" class="col-lg-8 col-md-8 col-sm-8">
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Sam">
    </div>
    
    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Smith">
    </div>
    
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="samsmith@gmail.com">
    </div>
    
    <div class="form-group">
        <label for="inputMessage">Message</label>
        <textarea type="text" class="form-control" id="inputMessage"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">SEND</button>
</form>



<section class='support-contact-form' style='padding-top:1em;'>
	<div>
				<form action="/about/contact" id="SupportRequestContactForm" method="post" accept-charset="utf-8">
                    <div style="display:none;">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="data[_Token][key]" value="7923160c028656c28ce0470e57c61f7e850a84d9" id="Token1671197346">
                    </div>
                    <div class="input text required">
                        <label for="SupportRequestName">Name</label>
                        <input name="data[SupportRequest][name]" value="" maxlength="80" type="text" id="SupportRequestName" required="required">
                    </div>
                    <div class="input text required">
                        <label for="SupportRequestEmail">Email</label>
                        <input name="data[SupportRequest][email]" value="" type="text" id="SupportRequestEmail" required="required">
                    </div>
                    <div class="input text required">
                        <label for="SupportRequestFirm">Firm</label>
                        <input name="data[SupportRequest][firm]" value="" maxlength="80" type="text" id="SupportRequestFirm" required="required">
                    </div>
                    <div class="input text"><label for="SupportRequestTelephone">Telephone</label>
                        <input name="data[SupportRequest][telephone]" value="" type="text" id="SupportRequestTelephone">
                    </div>
                    <div class="input text required"><label for="SupportRequestSubject">Subject</label>
                        <input name="data[SupportRequest][subject]" value="Demo Request" maxlength="200" type="text" id="SupportRequestSubject" required="required">
                    </div>
                    <input type="hidden" name="data[SupportRequest][platform]" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1)
                        AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.68 Safari/537.36" id="SupportRequestPlatform">
                    <input type="hidden" name="data[SupportRequest][browser_plugins]" id="SupportRequestBrowserPlugins"
                           value="Widevine Content Decryption Module: Enables Widevine licenses for playback of HTML audio/video
                           content.Shockwave Flash: Shockwave Flash 11.9 r900Chrome Remote Desktop Viewer: This plugin allows you
                           to securely access other computers that have been shared with you.
                        To use this plugin you must first install the &lt;a
                        href=&quot;https://chrome.google.com/remotedesktop&quot;&gt;Chrome Remote Desktop&lt;/a&gt;
                        webapp.Native Client: Chrome PDF Viewer: WebEx64 General Plugin Container: WebEx64 General Plugin
                        Container Version 202Default Browser Helper: Provides information about the default web browserShockwave
                        Flash: Shockwave Flash 11.9 r900Google Talk Plugin: Version 4.9.1.16010Java Applet Plug-in: Displays Java
                        applet content, or a placeholder if Java is not installed.Google Talk Plugin Video Accelerator: Google Talk
                        Plugin Video Accelerator version:0.1.44.29Google Talk Plugin Video Renderer: Version 4.9.1.16010QuickTime
                        Plug-in 7.7.3: The QuickTime Plugin allows you to view a wide variety of multimedia content in web pages.
                        For more information, visit the &lt;A HREF=http://www.apple.com/quicktime&gt;QuickTime&lt;/A&gt;
                        Web site.SharePoint Browser Plug-in: Microsoft Office for Mac SharePoint Browser Plug-in">
                    <input type="hidden" name="data[SupportRequest][username]" value="" id="SupportRequestUsername">
                    <textarea name="data[SupportRequest][message]" id="SupportRequestMessage" style="height: 60px;"></textarea>
				
                    <div class="submit">
                        <input type="submit" value="Submit">
                    </div>
                    <div style="display:none;">
                        <input type="hidden" name="data[_Token][fields]"
                               value="88825fea244221e0edaa2f34abc4fe6d2f093fc2%3ASupportRequest.browser_plugins%7CSupportRequest.platform%7CSupportRequest.username"
                               id="TokenFields2001001424">
                        <input type="hidden" name="data[_Token][unlocked]" value="" id="TokenUnlocked261278862">
                    </div>
                </form>
    </div>
</section>


