<ul class="social-media-list">
  <a title="Twitter" href="https://twitter.com/kcfuery" target="_blank">
    <i class="fa fa-twitter fa-lg"></i>
  </a>
  <a title="Facebook" href="https://www.facebook.com/kaitlynne.fuery" target="_blank">
    <i class="fa fa-facebook-f fa-lg"></i>
  </a>
  <a title="LinkedIn" href="https://www.linkedin.com/in/kaitlynnefuery" target="_blank">
    <i class="fa fa-linkedin fa-lg"></i>
  </a>
  <a title="GitHub" href="https://github.com/kaitlynnefuery" target="_blank">
    <i class="fa fa-github fa-lg" aria-hidden="true"></i>
  </a>
  <a title="Instragram" href="https://www.instagram.com/kaitlynnefuery/" target="_blank">
    <i class="fa fa-instagram fa-lg"></i>
  </a>
</ul>