h2, h3, h4 {
    margin-top: 1em;
}

h1 {
    font-size: 2em;
    color: $brand-color;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

.site-title {
   line-height: inherit;
}

.anchor {
    display: block;
    height: 156px; /*same height as header + sticky navbar*/
    margin-top: -156px;
    visibility: hidden;
}

.main-nav {
    background-color: $brand-color;
    position: relative;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    transition: top 1s ease;
    -webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    -o-transition: top 1s ease;
    -ms-transition: top 1s ease;
    display: none;
}
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    visibility: visible;
    transition: top 1s ease;
    -webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    -o-transition: top 1s ease;
    -ms-transition: top 1s ease;
}

div.projects h4 {
    margin-bottom: 0.25em;
    font-weight: 600;
}

.page-header {
    font-family: lato;
    letter-spacing: .25em;
    margin: 50px 0 20px;
    border: none
}

//page-header 'Kaitlynne Fuery' custom styles
.main {
    font-size: 3.5em;
    margin-bottom: 0;
}

.site-footer {
    margin-top: 2%;
}

#kaitlynne img {
    //max-width: 200px;
    border-radius: 5%;
    display: inline-block;
    margin-bottom: 20px;
	}

.indent-left {
    margin-left: 1em;
}

.location {
    margin-top: 0.6em;
}

/*Skills Section of Resume*/
#skills li {
  min-height: 30px;
  padding: 3px 0px;
  list-style: none;
  display: -webkit-inline-box;
  display: inline-block;
  width: 26.9%;
  // padding: 1.5% 0;
  margin: 1.5% 3%;
}

#skills li i {
  padding-right: 1em;
}

@include media-query($on-palm) {
    #skills li {
        width: 41%;
    }
    .main {
        font-size: 2.25em;
    }
}

/*Contact Form*/
form {
    padding: 2em 0;

    legend {
        font-weight: 400;
    }
}

.grey {
    color: $grey-color;
}
