h2, h3, h4 {
    margin-top: 1em;
}

h1 {
    font-size: 2em;
    color: $brand-color;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

div.projects h4 {
    margin-bottom: 0.25em;
    font-weight: 600;
}

.page-header {
    font-family: lato;
    letter-spacing: .25em;
    margin: 50px 0 20px;
    border: none
}

#kaitlynne img {
    //max-width: 200px;
    border-radius: 5%;
    display: inline-block;
	}

.indent-left {
    margin-left: 1em;
}

.location {
    margin-top: 0.6em;
}

/*Skills Section of Resume*/
#skills li {
  min-height: 30px;
  padding: 3px 0px;
  list-style: none;
}

#skills li:hover {
  background: #F2F2F2;
  padding: .5em 0 .5em 1em;
}

#skills .skills-title {
  display: inline-block;
  width: 60%;
}

#skills .skills-rating {
  float: right;
}

.skills-rating .star:before {
  font-family: FontAwesome;
  content: "\f005";
  font-size: 14pt;
  color: $grey-color-light;
  
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.skills-rating .filled:before {
  font-family: FontAwesome;
  content: "\f005";
  font-size: 14pt;
  color: $brand-color;
    
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#skills li:hover div.skill-rating.star {
  margin-left: 2px;
}

/*Contact Form*/
form {
    padding: 2em 0;
    
    legend {
        font-weight: 400;
    }
}

/*Sticky Header*/
.sticky {
    background-color: $brand-color;
}

.grey {
    color: $grey-color;
}